<!-- Masthead -->
<header class="masthead bg-primary text-white text-center">
	<div class="container d-flex align-items-center flex-column">
		<!-- Masthead Heading -->
		<h1 class="masthead-heading text-uppercase mb-0"> Fiche du Gossip</h1>
	</div>
</header>
<!-- Portfolio Section -->
<section class="page-section portfolio" id="portfolio">
	<div class="container">
		<!-- Portfolio Section Heading -->
		<h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Evenement :  <%= "#{@event.title}" %> </p></h2>
		<!-- Icon Divider -->
		<div class="divider-custom">
		        <div class="divider-custom-line"></div>
	        <div class="divider-custom-icon">
        		<i class="fas fa-star"></i>
	        </div>
        		<div class="divider-custom-line"></div>
      </div>


	<div class="jumbotron">
		<p class="lead"><%= @event.description %></p>
		<hr class="my-4">
			<p>Cet evenement a ete cree par <%= @event.admin.first_name %>, et se deroulera le <%= @event.start_date %> </p>
		
			<a class="btn btn-primary btn-lg" href="<%= user_path(@event.admin.id) %>" role="button">Afficher la page de l'organisateur</a>
			<% if current_user.id == @event.admin.id %>
				<a class="btn btn-secondary btn-lg" href="<%= edit_event_path(@event.id) %>" role="button">Modifier l'evenement</a>
	   			<a class="btn btn-danger btn-lg" href="<%= event_path(@event.id) %>" role="button" data-confirm="Attention la suppression est irreversible" data-method="DELETE">Supprimer l'event</a>
			<%end%>
		</hr>
	</div>
</section>
